@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand{
  color: #fff !important;
  text-transform: uppercase;
  font-size:1.563rem;
}

/***************** MENU LINKS *****************/

Nav li span{
  text-transform: uppercase;
  letter-spacing: 0.0375rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #fff !important;
}
Nav li:hover{
  border-bottom: 0.1875rem solid orange;
}

/***************** Header Section *****************/
.header-section {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0,0, 0.7)), url(./img/programmer-bg.jpg);
  height:90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  color: #fff;
}
.header-section h1{
  font-size: 3rem;
}
.header-section p{
  letter-spacing: 2px;
  font-size: 1.1rem;
}
.header-section button{
  border: 2px solid orange;
  background-color:rgba(255, 255, 255, 0);
  padding: 10px 40px;
  border-radius: 10px;
  color:white;
  margin-top: 20px;
}
.header-section button:hover{
  color:orange;
  border: 2px solid white;
}
.orange-color {
  color:orange;
  font-weight:600;
  text-shadow: 1px 1px 1px #ffffff
}


/***************** skills Section *****************/
.skills-section {
  background:black;
  padding: 80px 0;
}
.skills-section h2{
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.devider{
  border:  1px solid orange;
  width: 20%;
  margin: 20px auto;
  margin-bottom: 50px;
}

/***************** projects Section *****************/
.projects-section {
  background-color: #131522;
  padding: 80px 0;
}

.projects-section h2{
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}
.projects-section Card {
  height:300px;
}
























/***************** Progress Bar *****************/
.progress-title{
  width: 100%;
  height:auto;
}
.progress-title h4{
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}
.progress {
  height: 20px;
  background: #171b3c;
  border: 1px solid #000;
  box-shadow: 0 2px 2px #4f4c4c;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
}
.progress .progress-bar {
  border-radius: 20px;
  border: 1px solid #000;
  animation: animate-positive 3s;
}
.progress .progress-value {
  width: 65px;
  height: 25px;
  line-height: 25px;
  background: #171b3c;
  font-size: 15px;
  color:#fff;
  border-radius: 0 0 15px 15px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: 0 2px 2px #4f4c4c;
  position: absolute;
  bottom: -25px;
  right: 60px;
}
@-webkit-keyframes animate-positive{
  0% {
    width:0;
  }
}
@keyframes animate-positive{
  0% {
    width:0;
  }
}